<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="delUser">
    <!-- 이 파일 자체를 사용하지 마시구 복사해서 사용해주세요 -->
    <select id="findAll" resultType="delUser">
        select
            *
        from
            del_users
    </select>
</mapper>