<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="camp">
    <select id="findAll" resultMap="campVoMap">
        select
            c.*,
            ct.id tag_id,
            ct.name tag_name,
            cwt.camp_id camp_id,
            (select count(*) from review where camp_id = c.id) review_count,
            (select count(*) from wish where camp_id = c.id) wish_count
        from
            camp_tag ct
                left join camp_with_tag cwt
                    on ct.id = cwt.tag_id
                right join camp c
                    on c.id = cwt.camp_id
        <if test="searchType != null and searchType != '' and searchKeyword != null and searchKeyword != ''">
        where
            c.${searchType} like '%' || #{searchKeyword} || '%'
        </if>
        order by
            c.reg_date desc
    </select>
    <resultMap id="campVoMap" type="campVo">
        <id column="id" property="id"/>
        <result column="business_id" property="businessId" />
        <result column="business_password" property="businessPassword" />
        <result column="business_number" property="businessNumber" />
        <result column="business_name" property="businessName" />
        <result column="camp_name" property="campName" />
        <result column="camp_intro" property="campIntro" />
        <result column="camp_phone" property="campPhone" />
        <result column="camp_addr" property="campAddr" />
        <result column="camp_lc_la" property="campLcLa" />
        <result column="camp_lc_lo" property="campLcLo" />
        <result column="camp_original_img" property="campOriginalImg" />
        <result column="camp_renamed_img" property="campRenamedImg" />
        <result column="camp_state" property="campState" />
        <result column="reg_date" property="regDate" />
        <result column="review_count" property="reviewCount" />
        <result column="wish_count" property="wishCount" />

        <collection property="campWithTags" ofType="CampWithTagVo">
            <id column="tag_id" property="tagId"/>
            <result column="camp_id" property="campId"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>
    <select id="findById" resultType="camp">
        select
            *
        from
            camp
        where
            id = #{id}
    </select>
    <insert id="insertCamp">
        insert into
            camp
        values (
            seq_camp_id.nextval,
            #{businessId},
            #{businessPassword},
            #{businessNumber},
            #{businessName},
            #{campName},
            #{campIntro},
            #{campPhone},
            #{campAddr},
            #{campLcLa},
            #{campLcLo},
            #{campOriginalImg},
            default,
            default,
            #{campRenamedImg}
        )
        <selectKey order="AFTER" resultType="_long" keyProperty="id">
            select
                seq_camp_id.currval
            from
                dual
        </selectKey>
    </insert>
    <update id="updateCamp">
        update
            camp
        set
            business_password = #{businessPassword},
            business_number = #{businessNumber},
            business_name = #{businessName},
            camp_name = #{campName},
            camp_intro = #{campIntro},
            camp_phone = #{campPhone},
            camp_addr = #{campAddr},
            camp_original_img = #{campOriginalImg},
            camp_renamed_img = #{campRenamedImg},
            camp_state = #{campState}
        where
            id = #{id}
    </update>
    <delete id="deleteCamp">
        delete from
            camp
        where
            id = #{id}
    </delete>
    <select id="getTotalCount" resultType="_int">
        select
            count(*)
        from
            camp
        <if test="searchType != null and searchType != '' and searchKeyword != null and searchKeyword != ''">
            where
                ${searchType} like '%' || #{searchKeyword} || '%'
        </if>
    </select>
</mapper>