<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="camp">
    <select id="findAll" resultType="camp">
        select
            *
        from
            camp
    </select>
    <select id="findById" resultType="camp">
        select
            *
        from
            camp
        where
            id = #{id}
    </select>
    <insert id="insertCamp">
        insert into
            camp
        values (
            seq_camp_id.nextval,
            #{businessId},
            #{businessPassword},
            #{businessNumber},
            #{businessName},
            #{campName},
            #{campIntro},
            #{campPhone},
            #{campAddr},
            #{campLcLa},
            #{campLcLo},
            #{campImg},
            default,
            default
        )
        <selectKey order="AFTER" resultType="_long" keyProperty="id">
            select
                seq_camp_id.currval
            from
                dual
        </selectKey>
    </insert>
    <update id="updateCamp">
        update
            camp
        set
            business_password = #{businessPassword},
            business_number = #{businessNumber},
            business_name = #{businessName},
            camp_name = #{campName},
            camp_intro = #{campIntro},
            camp_phone = #{campPhone},
            camp_addr = #{campAddr},
            camp_img = #{campImg},
            camp_state = #{campState}
        where
            id = #{id}
    </update>
    <delete id="deleteCamp">
        delete from
            camp
        where
            id = #{id}
    </delete>
</mapper>