<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
<!-- 이 파일 자체를 사용하지 마시구 복사해서 사용해주세요 -->
    <select id="findAll" resultMap="reviewVoMap">
        select
            r.*,
            c.id camp_id2,
            c.camp_name camp_name
        from
            review r left join camp c
                on r.camp_id = c.id
        order by
            r.reg_date desc
    </select>
    <resultMap id="reviewVoMap" type="reviewVo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="review_tag" property="reviewTag"/>
        <result column="review_title" property="reviewTitle"/>
        <result column="view_count" property="viewCount"/>
        <result column="like_count" property="likeCount"/>
        <result column="reg_date" property="regDate"/>
        <association property="camp" javaType="camp">
            <id column="camp_id2" property="id"/>
            <result column="camp_name" property="campName"/>
        </association>
    </resultMap>
    <select id="findById" resultType="review">
        select
            *
        from
            review
        where
            id = #{id}
    </select>
    <insert id="insertReview">
        insert into
            review
        values(
            seq_review_id.nextval,
            #{userId},
            #{campId},
            #{boardAttr},
            #{reviewTag},
            #{reviewTitle},
            #{reviewContent},
            default,
            default,
            default
        )
    <selectKey order="AFTER" resultType="_long" keyProperty="id">
        select
            seq_review_id.currval
        from
            dual
    </selectKey>
    </insert>
    <update id="updateReview">
        update
            review
        set
            review_tag = #{reviewTag},
            review_title = #{reviewTitle},
            review_content = #{reviewContent}
        where
            id = #{id}
    </update>
    <delete id="deleteReview">
        delete from
            review
        where
            id = #{id}
    </delete>
    <select id="getTotalCount" resultType="_int">
        select
            count(*)
        from
            review
    </select>
</mapper>