<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wish">
    <select id="findAll" resultType="wish">
        select
            *
        from
            wish
    </select>
    <select id="findByUserId" resultMap="wishVoMap">
        select distinct
            w.user_id user_id,
            c.camp_renamed_img camp_renamed_img,
            c.camp_name camp_name,
            c.id camp_id,
            count(*) over(partition by c.id) wish_count
        from
            wish w
                join camp c
                    on w.camp_id = c.id
        where
            w.user_id = #{userId}
    </select>
    <resultMap id="wishVoMap" type="wishVo">
        <result column="user_id" property="userId" />
        <result column="wish_count" property="wishCount"/>

        <collection property="camps" ofType="camp">
            <id column="camp_id" property="id"/>
            <result column="camp_name" property="campName"/>
            <result column="camp_renamed_img" property="campRenamedImg"/>
        </collection>
    </resultMap>

    <select id="findByCampId" resultType="wish">
        select
            *
        from
            wish
        where
            camp_id = #{campId}
    </select>
    <insert id="insertWish">
        insert into
            wish
        values(
            seq_wish_id.nextval, #{userId}, #{campId}, default
        )
        <selectKey order="AFTER" keyProperty="id" resultType="_long">
            select
                seq_wish_id.currval
            from
                dual
        </selectKey>
    </insert>
    <select id="findById" resultType="wish">
        select
            *
        from
            wish
        where
            id = #{id}
    </select>
    <delete id="deleteWish">
        delete from
            wish
        where
            id = #{id}
    </delete>
    <delete id="deleteWishByUserId">
        delete from
            wish
        where
            user_id = #{userId}
    </delete>
    <delete id="deleteWishByWish">
        delete from
            wish
        where
            user_id = #{userId}
            and
            camp_id = #{campId}
    </delete>
    <select id="findByUserIdCampId" resultType="wish">
        select distinct
            user_id,
            camp_id
        from
            wish
        where
            user_id = #{userId}
            and
            camp_id = #{campId}
    </select>
</mapper>