<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

    <select id="findById" resultType="user">
        select
            *
        from
            users
        where
            id = #{id}
    </select>

    <select id="findAll" resultType="user">
        select
            *
        from
            users
    </select>

    <insert id="insertUser">
        insert into
            users
        values (
            #{id},
            #{gradeId},
            #{clubId},
            seq_users_nickname.nextval,
            #{name},
            #{password},
            #{originProfileName},
            #{renamedProfileName},
            #{email},
            #{phone},
            #{resultPoint},
            #{role},
            #{regDate}
        )
    </insert>



</mapper>