<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

    <select id="findById" resultType="user">
        select
            *
        from
            users
        where
            id = #{id}
    </select>

    <insert id="insertUser">
        insert into
            users
        values (
            #{id},
            default,
            null,
            #{nickname} || seq_users_nickname.nextval,
            #{name},
            #{password},
            null,
            null,
            #{email},
            #{phone},
            default,
            default,
            default
        )
    </insert>
    <select id="findAll" resultMap="userVoMap">
        select
            u.*,
            g.id grade_id2,
            g.name grade_name
        from
            users u left join user_grade g
                on u.grade_id = g.id
        order by
            u.reg_date desc
    </select>
    <resultMap id="userVoMap" type="userVo">
        <id column="id" property="id"/>
        <result column="club_id" property="clubId"/>
        <result column="nickname" property="nickname"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="result_point" property="resultPoint"/>
        <result column="role" property="role"/>
        <result column="reg_date" property="regDate"/>
        <association property="userGrade" javaType="userGrade">
            <id column="grade_id2" property="id"/>
            <result column="grade_name" property="name"/>
        </association>
    </resultMap>
    <select id="getTotalCount" resultType="_int">
        select
            count(*)
        from
            users
    </select>

    <select id="findByName" resultType="user">
        select
            *
        from
            users
        where
            name like '%' || #{name} || '%'
    </select>

    <update id="updateUser">
        update
            users
        set
            name = #{name},
            nickname = #{nickname},
            phone = #{phone}
        where
            id = #{id}
    </update>

</mapper>