<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

    <select id="findById" resultType="user">
        select
            *
        from
            users
        where
            id = #{id}
    </select>
    <select id="findUserWithClubById" resultMap="userWithClubVoMap">
        select
            u.id,
            cu.role club_role
        from
            users u left join club_users cu
                on u.id = cu.user_id
        where
            id = #{id}
    </select>
    <resultMap id="userWithClubVoMap" type="userVo">
        <id column="id" property="id"/>
        <result column="grade_id" property="gradeId"/>
        <result column="club_id" property="clubId"/>
        <result column="nickname" property="nickname"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="originProfileName" property="originProfileName"/>
        <result column="renamedProfileName" property="renamedProfileName"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="result_point" property="resultPoint"/>
        <result column="role" property="role"/>
        <result column="reg_date" property="regDate"/>
        <association property="userGrade" javaType="userGrade">
            <id column="grade_id2" property="id"/>
            <result column="grade_name" property="name"/>
        </association>
        <association property="clubUsers" javaType="clubUsers">
            <result column="club_role" property="role"/>
        </association>
    </resultMap>
    <insert id="insertUser">
        insert into
            users
        values (
            #{id},
            default,
            null,
            #{nickname} || seq_users_nickname.nextval,
            #{name},
            #{password},
            null,
            null,
            #{email},
            #{phone},
            default,
            default,
            default
        )
    </insert>
    <select id="findAll" resultMap="userVoMap">
        select
            u.*,
            g.id grade_id2,
            g.name grade_name
        from
            users u left join user_grade g
                on u.grade_id = g.id
        order by
            u.reg_date desc
    </select>
    <select id="findGradeId" resultMap="userVoMap">
        select
            u.*,
            g.id grade_id2,
            g.name grade_name
        from
            users u left join user_grade g
                on u.grade_id = g.id
        where
            u.id = #{id}
    </select>
    <resultMap id="userVoMap" type="userVo">
        <id column="id" property="id"/>
        <result column="club_id" property="clubId"/>
        <result column="nickname" property="nickname"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="result_point" property="resultPoint"/>
        <result column="role" property="role"/>
        <result column="reg_date" property="regDate"/>
        <association property="userGrade" javaType="userGrade">
            <id column="grade_id2" property="id"/>
            <result column="grade_name" property="name"/>
        </association>
    </resultMap>
    <select id="getTotalCount" resultType="_int">
        select
            count(*)
        from
            users
    </select>


    <select id="findByName" resultType="user">
        select
            *
        from
            users
        where
            name like '%' || #{name} || '%'
    </select>

    <update id="updateUser">
        update
            users
        set
            nickname = #{nickname},
            phone = #{phone}
        where
            id = #{id}
    </update>
    <update id="updateUserClubId">
        update
            users
        set
            club_id = #{clubId}
        where
            id = #{id}
    </update>

    <!--
    * 민준씨
    -->
    <select id="findPointAll" resultType="point">
        select
            *
        from
            point
        where
            user_id = #{userId}
    </select>
    <update id="updateUserProfile">
        update
            users
        set
            origin_profile_name = #{originProfileName},
            renamed_profile_name = #{renamedProfileName}
        where
            id = #{id}
    </update>










    <!--
    * 정효씨
    -->
    <update id="userPasswordUpdate">
        update
            users
        set
            password = #{password}
        where
            id = #{id}
    </update>

    <delete id="deleteUser">
        delete from
            users
        where
            id = #{id}
    </delete>

    <select id="findByEmail" resultType="user">
        select
            *
        from
            users
        where
            email = #{email}
    </select>

    <insert id="insertPet">
        insert into
            pet
        values (
        userId, #{petName}, #{petAge}, #{petGender}, #{neutered}, default
        )
    </insert>









</mapper>