<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">

    <insert id="insertReservation">
        insert into
            reservation
        values (
            #{id}, #{campId}, #{roomId}, #{userId}, #{startDate} , #{endDate}, #{nop}, #{status}
        )
    </insert>

    <select id="findAll" resultType="reservation">
        select
        *
        from
        reservation
    </select>


    <!-- 0105 캠핑장 id로 객실 리스트 조회 -->
<!--    <select id="findByCampId" resultType="RoomVo">-->
<!--        select-->
<!--        *-->
<!--        from-->
<!--            room-->
<!--        where-->
<!--            camp_id = #{id}-->
<!--    </select>-->


    <select id="findByCampId" resultMap="RoomVoMap2">
        select
        r.*,
        a.id attach_id,
        a.room_id,
        a.room_attach_original_name,
        a.room_attach_renamed_name
        from
        room r left join room_attach a
        on r.id = a.room_id
        where
            r.camp_id = #{id}
        order by
            r.id desc

    </select>
    <!-- RoomVoMap -->
    <resultMap id="RoomVoMap2" type="RoomVo">
        <id column = "id" property="id"/>
        <result column="camp_id" property="campId"/>
        <result column="room_name" property="roomName"/>
        <result column="room_type" property="roomType"/>
        <result column="room_intro" property="roomIntro"/>
        <result column="room_default_person" property="roomDefaultPerson"/>
        <result column="room_maximum_person" property="roomMaximumPerson"/>
        <result column="room_default_fee" property="roomDefaultFee"/>
        <result column="room_over_fee" property="roomOverFee"/>
        <!--
                    여러개인 경우 여러번 실행
                    property:필드명
                    ofTpye:속성(클래스명)
                    roomAttach에 대한 속성. 테이블 컬럼 그대로 갖고옴.
                 -->
        <collection property="roomAttachs" ofType="RoomAttach">
            <id column="attach_id" property="id"/>
            <result column ="room_id" property="roomId"/>
            <result column ="room_attach_original_name" property="roomAttachOriginalName"/>
            <result column ="room_attach_renamed_name" property="roomAttachRenamedName"/>
        </collection>
    </resultMap>

















    <select id="findByDonReservUserId" resultType="reservationVo">
        select
            r.*,
            (select camp_name from camp where id = r.camp_id) camp_name,
            (select camp_renamed_img from camp where id = r.camp_id) camp_renamed_img,
            (select room_name from room where id = r.room_id) room_name
        from
            reservation r
        where
            user_id = #{userId}
            and
            status = 1
            and
            end_date <![CDATA[<]]> sysdate
        order by
            end_date desc
    </select>
    <select id="getTotalDonReservCount" resultType="_int">
        select
            count(*)
        from
            reservation r
        where
            user_id = #{userId}
            and
            status = 1
            and
            end_date <![CDATA[<]]> sysdate
    </select>
    <select id="getTotalProcessReservCount" resultType="_int">
        select
            count(*)
        from
            reservation r
        where
            user_id = #{userId}
            and
            status = 1
            and
            start_date <![CDATA[>=]]> sysdate
    </select>
    <select id="findByProcessReservUserId" resultType="reservationVo">
        select
            r.*,
            (select camp_name from camp where id = r.camp_id) camp_name,
            (select camp_renamed_img from camp where id = r.camp_id) camp_renamed_img,
            (select room_name from room where id = r.room_id) room_name
        from
            reservation r
        where
            user_id = #{userId}
            and
            status = 1
            and
            start_date <![CDATA[>=]]> sysdate
        order by
            end_date desc
    </select>
    <select id="getTotalCancelReservCount" resultType="_int">
        select
            count(*)
        from
            reservation r
        where
            user_id = #{userId}
            and
            status = 0
    </select>
    <select id="findByCancelReservUserId" resultType="reservationVo">
        select
            r.*,
            (select camp_name from camp where id = r.camp_id) camp_name,
            (select camp_renamed_img from camp where id = r.camp_id) camp_renamed_img,
            (select room_name from room where id = r.room_id) room_name
        from
            reservation r
        where
            user_id = #{userId}
            and
            status = 0
        order by
            end_date desc
    </select>
</mapper>