<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    0103 문의내역 관련 mapper
    0.select query test
    1.insert query test
    2.update qeury test
     - askComment
     - askCommentRegDate
    -->
<mapper namespace="ask">

<!-- test - 모든 값 가져오기   -->

    <select id="findAll" resultType="ask">
        select
            *
        from
            ask
        order by
            ask_reg_date desc
    </select>


    <!-- vo클래스용 findById(문의글 상세보기)
         현재는 사업자 로그인을 못해 campId를 4로 고정함 -->
    <select id="findById" resultMap="AskVoMap">
        select
        c.camp_name camp_name,
        a.*
        from
        ask a left join camp c
        on a.camp_id = c.id
        where
        a.id = #{id}
    </select>

    <resultMap id="AskVoMap" type="askVo">
    <id column = "id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="camp_id" property="campId"/>
    <result column="ask_title" property="askTitle"/>
    <result column="ask_content" property="askContent"/>
    <result column="ask_reg_date" property="askRegDate"/>
    <result column="ask_comment" property="askComment"/>
    <result column="ask_comment_reg_date" property="askCommentRegDate"/>

    <!-- 1:1 association -->
    <association property="camp"  javaType="Camp" >
        <id column="camp_id" property="id"/>
        <result column="camp_name" property="campName"/>
    </association>

    </resultMap>


<!-- 사용자가 문의 작성한 것을 insert한것이므로 문의글답변과 문의글답변 작성일은 null로 처리했습니다.   -->
    <insert id="insertAsk">
        insert into
            ask
        values (
            seq_ask_id.nextval,
            #{userId},
            #{campId},
            #{askTitle},
            #{askContent},
            default,
<!--            #{askRegDate},-->
            null,
            null
        )
    </insert>

<!-- 캠핑장 주인 즉, 사업자가 문의 답변을 달아준 경우   -->
    <update id = "updateAsk">
        update
            ask
        set
            ask_comment = #{askComment},
            ask_comment_reg_date = #{askCommentRegDate}
        where
            id = #{id}
        and
            camp_id = #{campId}
    </update>


    <select id="findByUserId" resultType="ask">
        select
            *
        from
            ask
        where
            user_id = #{userId}
        order by ask_reg_date desc
    </select>
    <select id="getTotalUserAsk" resultType="_int">
        select
            count(*)
        from
            ask
        where
            user_id = #{userId}
    </select>
    <select id="findByCampId" resultType="ask">
        select
            *
        from
            ask
        where
            camp_id = #{campId}
    </select>
    <select id="getTotalCampAsk" resultType="_int">
        select
            count(*)
        from
            ask
        where
            camp_id = #{campId}
    </select>
</mapper>