<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
<!-- 이 파일 자체를 사용하지 마시구 복사해서 사용해주세요 -->
    <select id="findAll" resultType="boardVo">
        select
            b.*,
            (select count(*) from board_attach where board_id = b.id) attach_count,
            (select count(*) from board_comment where board_id = b.id) comment_count
        from
            board b
        order by
            id desc
    </select>
    <select id="findById" resultType="boardVo">
        select
            *
        from
            board
        where
            id = #{id}
    </select>
    <insert id="insertBoard">
        insert into
            board (id, board_type, board_title, user_id, board_content)
        values(
            seq_board_id.nextval,
            #{boardType},
            #{boardTitle},
            #{userId},
            #{boardContent}
        )
        <selectKey order="AFTER" resultType="_int" keyProperty="id">
            select
                seq_board_id.nextval
            from
                dual
        </selectKey>
    </insert>
    <update id="updateBoard">
        update
            board
        set
            board_title = #{boardTitle},
            board_content= #{boardContent}
        where
            id = #{id}
    </update>
    <delete id="deleteBoard">
        delete from
            board
        where
            id = #{id}
    </delete>

    <select id="getTotalCount" resultType="_int">
        select
            count(*)
        from
            board
    </select>

    <select id="getTotalCountByType" resultType="_int">
        select
        count(*)
        from
        board
        where
         board_type = #{boardType}
    </select>

<!--    <resultMap id="boardVoMap" type="boardVo">-->
<!--        <id column="id" property="id"/>-->
<!--        <result column="title" property="title"/>-->
<!--        <result column="member_id" property="memberId"/>-->
<!--        <result column="content" property="content"/>-->
<!--        <result column="read_count" property="readCount"/>-->
<!--        <result column="reg_date" property="regDate"/>-->
<!--        <association property="member" javaType="member">-->
<!--            <id column="member_id" property="id"/>-->
<!--            <result column="member_name" property="name"/>-->
<!--        </association>-->
<!--        <collection property="attachments" ofType="attachment">-->
<!--            <id column="attach_id" property="id"/>-->
<!--            <result column="board_id" property="boardId"/>-->
<!--            <result column="original_filename" property="originalFilename"/>-->
<!--            <result column="renamed_filename" property="renamedFilename"/>-->
<!--            <result column="attach_reg_date" property="regDate"/>-->
<!--        </collection>-->
<!--    </resultMap>-->

    <insert id="insertAttachment">
        insert into
            board_attach
        values(
            seq_board_attach_id.nextval,
            #{boardId}
        )
    </insert>

    <delete id="deleteAttachment">
        delete from
            board_attach
        where
            id = #{id}
    </delete>

    <update id="updateBoardViewCount">
        update
            board
        set
            view_count = view_count + 1
        where
            id = #{id}
    </update>
    <insert id="insertBoardComment">
        insert into
            board_comment
        values
        (
            seq_board_comment_id.nextval,
            #{boardId},
            #{userId},
            #{content},
            default
        )
        <selectKey order="AFTER" resultType="_long" keyProperty="id">
            select
                seq_board_comment_id.nextval
            from
                dual
        </selectKey>
    </insert>
    <delete id="deleteBoardComment">
        delete from
            board_comment
        where
            id = #{id}
    </delete>
    <select id="findCommentByBoardId" resultType="boardComment">
        select
            *
        from
            board_comment
        where
            board_id = #{boardId}
        order by
            id asc
    </select>
    <select id="findCommentById" resultType="boardComment">
        select
            *
        from
            board_comment
        where
            id = #{id}
    </select>
</mapper>